@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


* {
    box-sizing: border-box;
}


body {
    background-image: url(https://images.unsplash.com/photo-1597773026935-df49538167e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    margin: 0;
    display: flex;
    margin-left: 10rem;
    align-items: center;
    min-height: 100vh;

}

.clock {
    width: 35rem;
    height: 35rem;
    background-color: transparent;
    border: 18px white solid;
    border-radius: 50%;
    box-shadow: 0 0 8px 8px rgba(255, 255, 255,
     0.473) , 0 0 6px 8px rgba(255, 255, 255, 0.473) inset;;
    
    /* box-shadow: 12px 12px  5px 5px  rgb(208,160,224) inset; */
}
 
.outer-clock-face {
    position: relative;
    background-color: rgba(3, 3, 3, 0.26);
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;

} 


.inner-clock-face {
    width: 85%;
    height: 85%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    z-index: 1;
    
}


.inner-clock-face::before{
    content: '';
    width: 20px;
    height: 20px;
    background-color: rgb(24, 255, 255);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;
}

.hand {
    width: 50%;
    height: 12px;
    position: absolute;
    background-color: transparent;
    top: 50%;
    right: 50%;
    z-index: 1;
    transform: rotate(90deg);
    transform-origin: 100%;
    border-radius: 10px;
   
}

.hand.hour-hand {
    width: 20%;
    height: 0px;
    background-color: transparent;
    box-shadow:
    0 0 6px 2px #fff, 
    0 0 10px 6px rgb(248, 69, 248),
    0 0 14px 10px #0ff;
    z-index: 8;
}

.hand.min-hand {
    width: 30%;
    height: 0px;
    z-index: 3;
    background-color: transparent;
    box-shadow:
    0 0 6px 2px #fff, 
    0 0 10px 6px rgb(17, 207, 255),
    0 0 14px 10px #0ff;
    transform: rotate(30deg);
    z-index: 5;
}

.hand.second-hand {
    width: 40%;
    height: 0px;
    background-color: transparent;
    box-shadow:
    0 0 6px 2px #fff, 
    0 0 10px 6px rgb(69, 248, 209),
    0 0 14px 10px rgb(25, 66, 66);
    transform: rotate(80deg);
    z-index: 3;
}

span {
    position: absolute;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.596);
    
}

span:nth-child(1) {
    top: 17px;
    left: 16rem;
}

span:nth-child(2) {
    top: 230px;
    left: 30rem;
}

span:nth-child(3) {
    top: 450px;
    left: 16rem;
}

span:nth-child(4) {
    top: 230px;
    left: 2rem;
}

#neon {
    display: flex;
    width: 150px;
    height: 20px;
    position: relative;
    left: 12rem;
    bottom: 8rem;
    border-radius: 10px;
    background-color: transparent;
    box-shadow:
    0 0 6px 2px #fff, 
    0 0 10px 6px rgb(248, 69, 248),
    0 0 14px 10px #0ff; 
    z-index: 0;
}

a {
    font-family: 'Caveat', cursive;
    font-size: 18px;
    padding-left: 12px;
    color: white;
    text-decoration: none;
    
}

i::after, i::before, i {
    padding-left: 5px;
    padding-top: 1.3px;
    font-size: 17px;
    color: #fff;   
}


.digital {
    width: 30em;
    height: 30em;
    background-color: rgba(3, 3, 3, 0.26);
    border-radius: 10px;
    margin-left: 12rem;
   
}

.vibeNote {
    font-family: 'Hubballi', cursive;
    word-wrap: break-word;
    padding: 80px 40px;
    
}

.day{
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    justify-content: center;
}

.date{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.time {
    display: flex;
    justify-content: center;
}

#neonText {
    color: #fff;
    text-shadow:
        0 0 7px rgb(112, 66, 218),
        0 0 10px rgb(187, 37, 37),
        0 0 21px rgb(189, 185, 185),
        0 0 42px rgb(52, 129, 202),
        0 0 82px rgb(52, 129, 202),
        0 0 92px rgb(52, 129, 202),
        0 0 102px rgb(52, 129, 202),
        0 0 151px rgb(52, 129, 202);
  }

.footer {
    position: absolute;
    bottom: 4px;
    left: 40%;
    font-size: 10px;
    color: rgb(22, 16, 32);
}






